@keyframes wiel {
  0% {
    transform: rotate(0deg);
    top: 37%;
    right: 0;
    left: 0;
	}
  100% {
    transform: rotate(360deg);
    top: 37%;
    right: 0;
    left: 0;
  }
}

@keyframes wiel {
  0% {
    transform: rotate(0deg);
    top: 37%;
    right: 0;
    left: 0;
	}
  100% {
    transform: rotate(360deg);
    top: 37%;
    right: 0;
    left: 0;
  }
}

@keyframes wiel {
  0% {
    transform: rotate(360deg);
	}
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
